@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: theme("colors.background");

  margin: 0;
  font-family: "Space Grotesk", -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;

  overflow-x: hidden;

  /* cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='64' height='64'%3E%3Cpath d='m1.341 6.235 1.035 3.863 1.273 4.753c.284 1.063 1.054 1.209 1.71.326l2.364-3.185 4.427 4.427 4.243-4.242-4.431-4.432 3.214-2.385c.883-.655.736-1.425-.326-1.71L10.1 2.376 6.233 1.341 1.482.068C.419-.217-.216.42.068 1.482z'/%3E%3C/svg%3E")
      8 8,
    pointer; */
}

* {
  box-sizing: border-box;
}
